.title-form {
    font-size: 50px;
    margin: 55px;
    margin: 70px 0 0;
    text-align: center;
}

.container-form {
    /*     padding: 10px;
    max-width: 900px;
    margin: 0px auto 0;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg);
    border-radius: 5px; */
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg);
    border-radius: 5px;
}

.container-form label {
    font-size: 23px;
}

.container-form input, .container-form textarea {
    /*padding: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    border: 2px solid var(--clr-primary);
    border-radius: 3px; */
    padding: 1rem;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 5px;
    color: var(--clr-form-contact-text);
    background: var(--clr-form-contact);
}

.container-form textarea {
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid var(--clr-primary); */
}

.container-form button {
    padding: 10px 15px;
    width: 200px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #3498db;
    border-radius: 3px;
    font-size: 18px;
}

.email-content {
    position: relative;
}

.email-content input {
    width: 40%;
    display: inline-block;
}

.btne-third {
    padding: 10px 15px;
    width: 200px;
    background: transparent;
    cursor: pointer;
}

.bloc {
    display: block;
}

.margin-top {
    margin-top: 50px;
}

.email-content {
    position: relative;
  }
  .email-content input {
    width: 100%;
  }
  #not-mail {
    display: none;
    position: absolute;
    top: 4px;
    color: #ff4d4d;
    right: 0;
    transform-origin: 50% 50%;
  }
  @keyframes dongle {
    0% {
      transform: translate(0px, 0px);
    }
    10% {
      transform: translate(-10px, 0px);
    }
    20% {
      transform: translate(10px, 0px);
    }
    30% {
      transform: translate(-10px, 0px);
    }
    40% {
      transform: translate(10px, 0px);
    }
    50% {
      transform: translate(-10px, 0px);
    }
    60% {
      transform: translate(10px, 0px);
    }
    70% {
      transform: translate(-10px, 0px);
    }
    80% {
      transform: translate(10px, 0px);
    }
    90% {
      transform: translate(-10px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

.form-message {
color: red;
}

.error::placeholder {
  color: #ff4d4d;
}